@font-face {
  font-family: 'Diablo';
  src: URL('fonts/DiabloLight.ttf') format('truetype');
}

body {
  font-family: 'Diablo'; 
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,86,121,1) 17%, rgba(0,212,255,1) 100%);
}

a {
  color:  yellow;
  text-decoration: none;
}

a:hover {
  color:  rgb(148, 148, 9);
  text-decoration: none;
}

.button-box {
  height: 400px;
  width: 400px;
  background-color: #023b4d;
  border-radius: 20px 40px 0 40px;
}

.empty {
  height: 400px;
  width: 400px;
  background-color: #023b4d;
  border-radius: 20px 40px 0 40px;
}

button {
  font-family: 'Diablo';
  text-align: center;

  
  background-size: cover;
  text-decoration: none;
  cursor: pointer;
  height: 350px;
  width: 350px;
  margin-top: 50px;
  margin-left: 50px;
  transform-style: preserve-3d;
  /* perspective: 600px; */
  transition: 1s;font-size: 42px;
}

/* button:hover {

  opacity: 0.25;
  transform: rotateX('180deg');
} */

.card:hover .card-front {
  transform: rotateX(-180deg);
  background-color: #023b4d;
}
.card:hover .card-back {
  transform: rotateX(0deg);
  background-color: #023b4d;
  
}

.card-front {
  height: 100%;
  width: 100%;
  background-image: url(img/IMG_0137.jpeg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  color: #200202;
  text-align: center;
}

form {  
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-color: #023b4d;
  border-radius: 20px 40px 0 40px;
}












button:hover .front {
  transform: rotateY(-180deg);
}
button:hover .back {
  transform: rotateY(0deg);
}

.vert1 {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 420px;
  border: solid 2px #75d606e5;
  box-shadow: 0px 10px 5px 0px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 1;
}

.vert2 {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 450px;
  border: solid 2px #75d606e5;
  box-shadow: 0px 10px 5px 0px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 1;
}

.hori1 {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 420px;
  border: solid 2px #75d606e5;
  box-shadow: 5px 0px 24px 1px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 2;
}

.hori2 {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 450px;
  border: solid 2px #75d606e5;
  box-shadow: 5px 0px 24px 1px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 2;
}

