body {
  justify-content: center;
  font-family: monospace;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,86,121,1) 17%, rgba(0,212,255,1) 100%);
}

.row1, .row2, .row3{
  display: flex;
} 

form .btn-go {
  font-size: 60px;
}
form .btn-go:hover  {
  font-size: 80px;
  text-transform: uppercase;
}

button {
  position: relative;
  font-family: monospace;
  font-size: 80px;
  text-align: center;
  background-color: #023b4d;
  text-decoration: none;
  cursor: pointer;
  height: 250px;
  width: 350px;
  margin-top: 100px;
  margin-left: 50px;
  transition: 0.25s;
  font-size: 42px;
  border-radius: 0 0 25px 25px;
  opacity: 0.5;
}

button:hover {
  opacity: 1;
  color: #8fb339;
  transform: translateX(-50px) translateY(-100px);
  border-radius: 50px 0 0 50px;
  border: 1px solid greenyellow;
  background-color: #2e294e;
  transition: 0.5s;
}

.empty{
  height: 400px;
  width: 400px;
  visibility: hidden;
}

.button-box {
  height: 300px;
  width: 400px;
  background-color: #023b4d;
  border-radius: 20px 40px 0 40px;
}

.add-vert-1 {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 250px;
  border: solid 2px #75d606e5;
  box-shadow: 0px 10px 5px 0px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 1;
}

.add-vert-2 {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 280px;
  border: solid 2px #75d606e5;
  box-shadow: 0px 10px 5px 0px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 1;
}

.add-horz-1 {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 350px;
  border: solid 2px #75d606e5;
  box-shadow: 5px 0px 24px 1px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 2;
}

.add-horz-2 {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 380px;
  border: solid 2px #75d606e5;
  box-shadow: 5px 0px 24px 1px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 2;
}

.list-vert-1 {
  position: absolute;
  top: 10px;
  left: 420px;
  height: 250px;
  border: solid 2px #3aaed8;
  box-shadow: 0px 10px 5px 0px #2bd9fe;
  border-radius: 0px 0px 0px 10px;
  z-index: 1;
}

.list-vert-2 {
  position: absolute;
  top: 10px;
  left: 430px;
  height: 280px;
  border: solid 2px #3aaed8;
  box-shadow: 0px 10px 5px 0px #2bd9fe;
  border-radius: 0px 0px 0px 10px;
  z-index: 1;
}

.list-horz-1 {
  position: absolute;
  top: 20px;
  left: 410px;
  width: 350px;
  border: solid 2px #2bd9fe;
  box-shadow: 5px 0px 24px 1px #2bd9fe;
  border-radius: 0px 0px 0px 10px;
  z-index: 2;
}

.list-horz-2 {
  position: absolute;
  top: 30px;
  left: 410px;
  width: 380px;
  border: solid 2px #2bd9fe;
  box-shadow: 5px 0px 24px 1px #2bd9fe;
  border-radius: 0px 0px 0px 10px;
  z-index: 2;
}

.edit-vert-1 {
  position: absolute;
  top: 10px;
  left: 420px;
  height: 250px;
  border: solid 2px #3aaed8;
  box-shadow: 0px 10px 5px 0px #2bd9fe;
  border-radius: 0px 0px 0px 10px;
  z-index: 1;
}

.edit-vert-2 {
  position: absolute;
  top: 10px;
  left: 430px;
  height: 280px;
  border: solid 2px #3aaed8;
  box-shadow: 0px 10px 5px 0px #2bd9fe;
  border-radius: 0px 0px 0px 10px;
  z-index: 1;
}

.edit-horz-1 {
  position: absolute;
  top: 20px;
  left: 410px;
  width: 350px;
  border: solid 2px #2bd9fe;
  box-shadow: 5px 0px 24px 1px #2bd9fe;
  border-radius: 0px 0px 0px 10px;
  z-index: 2;
}

.edit-horz-2 {
  position: absolute;
  top: 30px;
  left: 410px;
  width: 380px;
  border: solid 2px #2bd9fe;
  box-shadow: 5px 0px 24px 1px #2bd9fe;
  border-radius: 0px 0px 0px 10px;
  z-index: 2;
}

/* .tooltip {
  position: relative;
  display: inline-block;
} */

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
   /* Position the tooltip text - see examples below! */
  /* position: absolute;
  z-index: 1; */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
