@font-face {
  font-family: 'Diablo';
  src: URL('fonts/DiabloLight.ttf') format('truetype');
}

body {
  font-family: 'Diablo'; 
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,86,121,1) 17%, rgba(0,212,255,1) 100%);
}

.row1, .row2, .row3{
  display: flex;
} 

a {
  color:  yellow;
  text-decoration: none;
  background-color: #023b4d;
}

a:hover {
  color:  rgb(148, 148, 9);
  text-decoration: none;
}

.empty{
  height: 400px;
  width: 400px;
  visibility: hidden;
}

.button-box {
  height: 300px;
  width: 400px;
  background-color: #023b4d;
  border-radius: 20px 40px 0 40px;
}



.empty {
  height: 300px;
  width: 400px;
  background-color: #023b4d;
  border-radius: 20px 40px 0 40px;
}

button {
  font-family: 'Diablo';
  text-align: center;
  background-color: #023b4d;
  text-decoration: none;
  cursor: pointer;
  height: 250px;
  width: 350px;
  margin-top: 50px;
  margin-left: 50px;
  transition: 0.25s;
  font-size: 42px;
}

button:hover {
  opacity: 0.50;
  transform: translateX(-50px) translateY(-50px);
  color: rgb(83, 183, 223);
  border-radius: 10px;
}

.vert1 {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 420px;
  border: solid 2px #75d606e5;
  box-shadow: 0px 10px 5px 0px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 1;
}

.vert2 {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 450px;
  border: solid 2px #75d606e5;
  box-shadow: 0px 10px 5px 0px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 1;
}

.hori1 {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 420px;
  border: solid 2px #75d606e5;
  box-shadow: 5px 0px 24px 1px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 2;
}

.hori2 {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 450px;
  border: solid 2px #75d606e5;
  box-shadow: 5px 0px 24px 1px rgb(187, 255, 1);
  border-radius: 0px 0px 0px 10px;
  z-index: 2;
}

